body{
    font-family: roboto, sans-serif;
}
.intro{
    text-align: center;
    margin-top:20px;
}
.profile {
    float: right;
}
.footer{
    background-color:grey;
}
.somelink img{
    width: 50px;
}